
.add-website-form { 
    /* background: red;  */
    display: grid;
    gap: 1rem; 
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    grid-template-columns: 1fr 1fr; 
    flex-wrap: wrap;
    margin-top: 1rem;
}

.add-website-form .field p {
    margin-bottom: .25rem;
}

.add-website-form .field input, .add-website-form select, .add-website-form textarea {
    width: 100%;
}


.add-website-form select {
    padding: .5rem 1rem ;
    border-radius: 15px;
    border: 1px solid #12121230;
    outline: none;
}

.add-website-form textarea {
    resize: none;
    height: 100px;
    border-radius: 15px;
    padding: .5rem 1rem; 
    border: 1px solid #12121230;
}