* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Cairo", sans-serif; */

}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    backdrop-filter: blur(3px);
    margin-bottom: 0 !important; 
}

h1, p { 
    color: white;
}

.btn {

    /* padding: .3rem 2rem;  */
    margin-top: 1rem;
    border-radius: 3rem;
}

input ,select { 
    width: 300px;
    max-width: 100%;
}

input {
    padding:  .2rem .4rem ;
    border-radius: 1rem;
    outline: none; 
    border: none;
}

.field { 
    /* margin-bottom: 1rem; */
}

.field select {
    padding:  .2rem .4rem ;
    border-radius: 1rem;
}

.btn-solid-dark {
    background: #121212;
    color: white; 
}

.container {
    margin: 0 auto; 
}


.popup_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: #00000080; 
    overflow-y: hidden;
    display: none;
}




.popup_wrapper .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.popup {
    width: 400px; 
    height: 600px;
    overflow-y: scroll;
    background: #f9f9f9;
    border-radius: 1rem;
    padding: 1rem; 
    box-shadow: 2px 4px 20px #21212130;
    position: relative;
    padding-top:3rem;
}

.popup input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 40px;
}

#btn-close-popup {
    cursor: pointer;
    position: absolute;
    top: 1rem; 
    right: 1rem;
}

.popup label , .popup p { 
    color: #121212;
}

.popup input, .popup select { 
    border: 1px solid #12121230;
    width: 100%;
}

@media (max-width: 575.98px) { 
    .container {
        width: 90%;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .container {
        width: 570px;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    .container {
        width: 768px;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .container {
        width: 992px;
    }
}


@media (min-width: 1200px) { 
    .container {
        width: 1200px;
    }
} 
