{% for field in table.fields.all %}

<tr>
    {% comment %} <td>1</td> {% endcomment %}
    <td class="field_name">{{field.name}}</td>
    <td>{{field.description}}</td>
    <td>{{field.data_type.display_name}}</td>
    <td class="db_field_actions">
        <a href="#" class="btn btn-sm btn-solid-dark">تفاصيل</a>
        <a href="#" class="btn btn-sm btn-solid-danger">حذف</a>
        <a class="btn btn-sm btn-outline btn-copy-cmd" data-cmd="{{field.data_type.cmd}}" onclick="copyCmd(this)">نسخ الكود</a>
        
    </td>
</tr>
{% endfor %}
