{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{db.name}}
{% endblock title %}
    

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/database-details.css' %}">    
{% endblock stylesheets %}
    


{% block content %}
    
    
    <input type="hidden" name="db_id_input" value="{{db.id}}">

    <section class="db__tables">
        <div class="container">
            <div class="section__heading">
                <h1 class="section__heading__title">قاعدة بيانات الفرع الرئيسي</h1>
                <p class="section__heading__text">
                    <br>
                    <form >
                        {% csrf_token %}
                        <input type="text" class="text-input input" id="table-name-input" name="table-name-input" placeholder="اكتب اسم الجدول">
                    </form>
                    <button class="btn btn-solid-dark btn-add-table">إضافة جدول</button>
                </p>
            </div>
            <div class="section__content">
                <!-- اسم الجدول هيكون كذلك عبارة عن رابط لتفاصيل الجدول -->
                <table>
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>اسم الجدول</td>
                            <td>عدد الحقول</td>
                            <td>الإجراءات</td>
                        </tr>
                    </thead>
                    <tbody class="db-tables">
                        
                        {% for table in db.tables.all %}
                            
                        <tr>
                            <input type="hidden" name="table_id_input" value="{{table.id}}">    
                            <td>1</td>
                            <td>
                                <a href=""> <!-- click to open table details -->
                                    {{table.name}}
                                </a>
                            </td>
                            <td>{{table.fields.count}}</td>
                            <td class="db__table__actions">
                                <a class="btn btn-outline">تفاصيل</a>
                                <a class="btn btn-solid-danger btn-del-table">حذف</a>
                            </td>
                        </tr>
                        {% endfor %}



                    </tbody>
                </table>
            </div>
        </div>
    </section>


    <script src="{% static 'js/add-table.js' %}"></script>
    {% endblock content %}
