{% extends 'base.html' %}
{% load static %}


{% block title %}
{{page.name}}
{% endblock title %}
    



{% block stylesheets %}
    <!-- start highlights js  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/androidstudio.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- end highlights js -->

    
    
    <!-- <link rel="stylesheet" href="./css/page-preview.css"> -->
    <link rel="stylesheet" href="{% static 'css/page-preview.css' %}">

{% endblock stylesheets %}


{% block content %}

    <input type="hidden" name="html-code" id="html-code" value="{{page.html}}">
    <input type="hidden" name="css-code" id="css-code" value="{{page.css}}">
    <input type="hidden" name="js-code" id="js-code" value="{{page.js}}">
    <section>

        <iframe id="preview-iframe"></iframe>

    </section>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <script>
        hljs.highlightAll();

        let htmlCode = document.querySelector('#html-code'); 
        let cssCode = document.querySelector('#css-code'); 
        let jsCode = document.querySelector('#js-code'); 
        let previewIframe = document.querySelector('#preview-iframe'); 

        function run () { 
            previewIframe.contentDocument.body.innerHTML  = htmlCode.value + "<style>" + cssCode.value + "</style>"
            previewIframe.contentWindow.eval(jsCode.value); 
        }

        run() 

    </script>


{% endblock content %}
