{% extends 'base.html' %}
{% load static %}



{% block title %}
    {{table}}
{% endblock title %}
    

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/table-details.css' %}">    
{% endblock stylesheets %}
    


{% block content %}
    
    
    <section>
            <input type="hidden" name="table_id" value="{{table.id}}">
            <div class="container">
                <div class="section__heading">

                    <h1 class="section__heading__title">
                        <a href="{% url 'website:website-details' table.db.website.id %}">{{table.db.website.name}}</a>
                        /
                        <a href="{% url 'website:db-details' table.db.id %}">{{table.db.name}}</a>
                        / 
                        {{table.name}}
                    </h1>
                </div>
                <div class="section__content add-field">
                    <h3>إضافة حقل</h3>
                    <div class="fields__types" style="display: flex; gap:2rem; flex-wrap: wrap;">

                        {% for field_type in fields_types %}
                        
                            <div class="field_type" style="gap: 1rem;">
                                <label class="field_type__label">{{field_type.display_name}}</label>
                                <input type="radio" required name="field__type" data-field_type_id="{{field_type.id}}">
                            </div>

                        {% endfor %}

                    </div>
                    <br>
                    <input type="text" placeholder="اكتب اسم الحقل" class="text-input input" id="field__name">
                    <br>
                    <input type="text" placeholder="وصف الحقل" class="input text-input" id="field__description">
                    <form method="POST" id="add-field-form">
                        {% csrf_token %}
                        <button class="btn btn-solid-dark btn-add-new-field">إضافة حقل</button>
                    </form>
                </div>
                <br>
                <div class="section__content table_fields_table">
                    <table>
                        <thead>
                            <tr>
                                {% comment %} <td>ID</td> {% endcomment %}
                                <td>اسم الحقل</td>
                                <td>وصف الحقل</td>
                                <td>نوع الحقل</td>
                                <td>الاجراءات</td>
                            </tr>
                        </thead>
                        <tbody id="all-fields">
                            {% for field in table.fields.all %}
                            <tr>
                                {% comment %} <td>1</td> {% endcomment %}
                                <td>{{field.name}}</td>
                                <td>{{field.description}}</td>
                                <td>{{field.data_type.display_name}}</td>
                                <td class="db_field_actions">
                                    <a href="#" class="btn btn-sm btn-solid-dark">تفاصيل</a>
                                    <a href="#" class="btn btn-sm btn-solid-danger">حذف</a>
                                    <a href="#" class="btn btn-sm btn-outline">نسخ الكود</a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div> 



    </section>

    <script src="{% static 'js/add-field.js' %}"></script>



{% endblock content %}
