{% extends 'base.html' %}
{% load static %}



{% block title %}
    {{table}}
{% endblock title %}
    

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/table-details.css' %}">    
{% endblock stylesheets %}
    


{% block content %}
    
    
    <section>

            <div class="container">
                <div class="section__heading">

                    <h1 class="section__heading__title">
                        <a href="#">اسم الجدول</a>
                        / 
                        المدراء
                    </h1>
                </div>
                <div class="section__content add-field">
                    <h3>إضافة حقل</h3>
                    <div class="fields__types">

                        {% for field_type in fields_types %}
                        
                            <div class="field_type">
                                <label class="field_type__label">{{field_type.display_name}}</label>
                                <input type="radio" name="field__type" data-table="{{field_type.db_type.id}}">
                            </div>

                        {% endfor %}

                    </div>
                    <br>
                    <input type="text" placeholder="اكتب اسم الحقل" class="text-input input" id="field__name">
                    <br>
                    <input type="text" placeholder="وصف الحقل" class="input text-input" id="field__description">
                    <button class="btn btn-solid-dark">إضافة حقل</button>
                </div>
                <br>
                <div class="section__content table_fields_table">
                    <table>
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>اسم الحقل</td>
                                <td>وصف الحقل</td>
                                <td>نوع الحقل</td>
                                <td>الاجراءات</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>اسم المستخدم</td>
                                <td>حقل اسم المستخدم</td>
                                <td>نص</td>
                                <td class="db_field_actions">
                                    <a href="#" class="btn btn-sm btn-solid-dark">تفاصيل</a>
                                    <a href="#" class="btn btn-sm btn-solid-danger">حذف</a>
                                    <a href="#" class="btn btn-sm btn-outline">نسخ الكود</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 



    </section>


    <script>

        let fieldsTypes = document.querySelector('.fields__types' ) 
        let fieldsTypesInputs = document.querySelector('.fields__types' ).querySelectorAll('input') 
        fieldsTypesInputs.forEach((input) => {
            input.parentElement.querySelector('label').addEventListener('click', () => {
                fieldsTypesInputs.forEach((radio_input) => {
                    radio_input.checked = false; 
                })

                // complete the code here 
                input.checked = true;
            }) 

        })

    </script>



{% endblock content %}
