{% extends 'base.html' %}
{% load static %}



{% block title %}
    {{table}}
{% endblock title %}
    

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/table-details.css' %}">    

    <style>


        .alert { 
            position: fixed;
            top: 0; 
            right: 0;
            width: 100%;
            max-width: 100%;
            min-height: 100vh; 
            display: flex;
            align-items: center;
            justify-content: center;
            background: #10101030; 
            display: none;
        }

        .alert__wrapper { 
            background: white; 
            width: 400px; 
            min-height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 1rem;
            border-radius: 1rem;
            box-shadow: 0 4px 10px #f9f9f950;
            animation: alertpop .5s 0s ; 
        }

        .alert__wrapper i {
            font-size: 3rem;
            color: #198754;
        }

        @keyframes alertpop {
            from {
                transform: scale(0);
            } to {
                transform: scale(1);
            }
        }

    </style>

{% endblock stylesheets %}
    


{% block content %}
    
    
    <section>
            <input type="hidden" name="table_id" value="{{table.id}}">
            <div class="container">
                <div class="section__heading">

                    <h1 class="section__heading__title">
                        <a href="{% url 'website:website-details' table.db.website.id %}">{{table.db.website.name}}</a>
                        /
                        <a href="{% url 'website:db-details' table.db.id %}">{{table.db.name}}</a>
                        / 
                        {{table.name}}
                    </h1>
                </div>
                <div class="section__content add-field">
                    <h3>إضافة حقل</h3>
                    <div class="fields__types" style="display: flex; gap:2rem; flex-wrap: wrap;">

                        {% for field_type in fields_types %}
                        
                            <div class="field_type" style="gap: 1rem;">
                                <label class="field_type__label">{{field_type.display_name}}</label>
                                <input type="radio" required name="field__type" data-field_type_id="{{field_type.id}}">
                            </div>

                        {% endfor %}

                    </div>
                    <br>
                    <input type="text" placeholder="اكتب اسم الحقل بالإنجليزية بدون مسافات" class="text-input input" id="field__name">
                    <label for="" class="form-text" style="font-size: .8rem; color: #00000090;">
                        * اكتب اسم الحقل بالإنجليزية بدون مسافات مثال: book_name
                    </label>
                    <br>
                    <br>
                    <input type="text" placeholder="وصف الحقل" class="input text-input" id="field__description">
                    <form method="POST" id="add-field-form">
                        {% csrf_token %}
                        <button class="btn btn-solid-dark btn-add-new-field">إضافة حقل</button>
                    </form>
                </div>
                <br>
                <div class="section__content table_fields_table">
                    <table>
                        <thead>
                            <tr>
                                {% comment %} <td>ID</td> {% endcomment %}
                                <td>اسم الحقل</td>
                                <td>وصف الحقل</td>
                                <td>نوع الحقل</td>
                                <td>الاجراءات</td>
                            </tr>
                        </thead>
                        <tbody id="all-fields">
                            {% for field in table.fields.all %}
                            
                            <tr>
                                {% comment %} <td>1</td> {% endcomment %}
                                <td class="field_name">{{field.name}}</td>
                                <td>{{field.description}}</td>
                                <td>{{field.data_type.display_name}}</td>
                                <td class="db_field_actions">
                                    <a href="#" class="btn btn-sm btn-solid-dark">تفاصيل</a>
                                    <a href="#" class="btn btn-sm btn-solid-danger">حذف</a>
                                    <a class="btn btn-sm btn-outline btn-copy-cmd" data-cmd="{{field.data_type.cmd}}">نسخ الكود</a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div> 



    </section>

    <div class="alert">
        
        <div class="alert__wrapper">
            <i class="fa-regular fa-circle-check "></i>
            <p>تم نسخ الكود بنجاح</p>
            <a class="btn btn-solid-dark btn-close-alert">إغلاق النافذة</a>
        </div>

    </div>

    <script src="{% static 'js/add-field.js' %}"></script>

    <script>

        let showAlert = () => { 
            let alertElement = document.querySelector('.alert'); 
            alertElement.style.display= 'flex';

            let btnClose = alertElement.querySelector('.btn-close-alert');
            btnClose.addEventListener('click', () => {
                alertElement.style.display = 'none';
            })

        }

        function copyText(text) {
            // Create a temporary text area element
            var tempTextArea = document.createElement("textarea");
            tempTextArea.value = text;
            
            // Append the text area to the document body (required for selection to work)
            document.body.appendChild(tempTextArea);
            
            // Select the text in the text area
            tempTextArea.select();
            
            // Copy the selected text to the clipboard
            document.execCommand("copy");
            
            // Remove the temporary text area from the document
            document.body.removeChild(tempTextArea);
        }

        let btnCopyCmd = document.querySelectorAll('.btn-copy-cmd'); 
        btnCopyCmd.forEach((btn) => {
            btn.addEventListener('click', () => {
                let cmd = btn.parentElement.parentElement.querySelector('.field_name').textContent + " = " + btn.dataset.cmd; 
                console.log(cmd); 

                let cmdInputElement = document.createElement('input') 
                cmdInputElement.hidden = true; 
                cmdInputElement.value = cmd; 

                copyText(cmd); 

                // navigator.clipboard.writeText(cmdInputElement.value); 

                // show alert with message 
                showAlert() 
                
            })
        })
    </script>



{% endblock content %}
