{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{website.name}}
{% endblock title %}


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/website-details.css' %}">
{% endblock stylesheets %}


{% block content %}
    <input type="hidden" name="website-id" value="{{website.id}}">
    <section class="website-pages">
        <div class="container">
            <div class="section__heading">
                <h1 class="section__heading__title">
                    {{website.name}}
                </h1>
                <p class="section__heading__text">
                    {{website.description}}
                </p>
            </div>
            
            <div class="section__content">
                <h4>إضافة صفحة جديدة</h4>
                <form class="add-page-form">
                    {% csrf_token %}
                    <div class="field">
                        <p>اسم الصفحة</p>
                        <input type="text" name="page-name-input" placeholder="اكتب اسم الصفحة" class="input text-input">
                    </div>
                    <a  class="btn btn-solid-dark btn-add-page">إنشاء صفحة</a>
                </form>
            </div>

            <br>

            <div class="section__content all-pages-grid">
                <div class="grid website-pages-grid">
                    {% if website.pages.all %}
                        {% for page in website.pages.all %}

                        <div class="col page">
                            <h3>{{page.name}}</h3>

                            <a href="{% url 'website:page-details' page.id %}" class="btn btn-outline btn-open-code">افتح الكود</a>
                        </div>

                        {% endfor %}
                    {% else %}
                        <center>
                            <h3>لا يوجد صفحات لعرضها</h3>
                        </center>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

    <br>

    <section>
        <div class="container">
            <div class="section__heading">
                <h1 class="section__heading__title">قواعد البيانات</h1>
                <p class="section__heading__text">كافة قواعد البيانات المربوطة بالمشروع</p>
                <div class="add-database-form">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <p>اسم قاعدة البيانات</p>
                            <input type="text" class="text-input input" placeholder="اكتب اسم قاعدة البيانات" name="db-name-input">
                        </div>
                        <div class="field">
                            <p>نوع قاعدة البيانات</p>
                            <select name="db-type-input" id="db-type-input">

                                {% for type in db_types %}
                                    <option value="{{type.id}}">{{type.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <a class="btn btn-solid-dark btn-add-db">إضافة قاعدة بيانات جديدة</a>
            </div>

            <div class="section__content">
                <div class="grid website-databases">
                    {% for db in website.databases.all %}
                    <div class="col database">
                        <h3>
                            {{db.name}}
                        </h3>
                        <br>
                        <p>
                            عدد الجداول: 
                            <span>
                                {{db.tables.count}}
                            </span>
                        </p>
                        <a href="{% url 'website:db-details' db.id %}" class="btn btn-outline btn-open-code">التفاصيل</a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <a href="{% url 'website:del-website' website.id %}" class="btn btn-solid-danger">حذف الموقع</a>
        </div>
    </section>


    <script src="{% static 'js/add-page.js' %}"></script>
    <script src="{% static 'js/add-database.js' %}"></script>

    {% endblock content %}
