{% extends 'base_v2.html' %}
{% load static %}

{% block title %}
    الرئيسية
{% endblock title %}
    


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/old-main.css' %}">
    <style>
        body {
            background-image: url("{% static 'images/old-bg.jpg' %}");
        }

        table { 
            border-collapse: collapse;
            width: 100%;
            margin: 25px 0; 
        }

        table thead tr {
            background: #2196f3; 
            text-align: right;
            color: #fff; 
        }

        table th,
        table td {
            padding: 5px 20px;
            color: #fff; 
        }

        table tbody tr { 
            border-bottom: 1px solid #fff;
        }

    </style>
{% endblock stylesheets %}
    


{% block content %}

<section>
    <div class="container">
        <h1>حقول قاعدة البيانات</h1>
        <div class="fields__wrapper">
            <div class="field">
                <p>اسم الحقل</p>
                <input type="text" placeholder="اكتب اسم الحقل باللغة الإنجليزية">
            </div>

            <div class="field">
                <p>نوع الحقل</p>
                <select name="" id="">
                    <option value="char_field">نص</option>
                    <option value="integer">رقم صحيح</option>
                    <option value="bool">قيمة منطقية</option>
                    <option value="file">ملف</option>
                    <option value="images">صورة</option>
                    <option value="email">بريد</option>
                </select>
            </div>

            <a class="btn btn-solid-dark">إضافة</a>
        </div>
        
    </div>
</section>


<section>
    <div class="container">
        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>TYPE</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>book_name</td>
                    <td>string</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>book_author</td>
                    <td>relation</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>book_pages_count</td>
                    <td>integer</td>
                </tr>
            </tbody>
        </table>

    </div>
</section>
    
{% endblock content %}
    